{% extends "base.html" %}
{% block content %}
<br>
<div class="container">
    <h1 class="jumbotron-heading text-center"> Agrega una nueva cancion </h1>
  </div>
  <div class="container">
  <div class="row">
      <div class="col">
        {% if form.errors %}
        <p style="color: red;"> Por favor, completa todos los campos, todos son necesarios </p>
        {% endif %}
        <br>
        <br>
        <br>
          <form action="/add/" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="playlistId" class="lead text-muted">Playlist Id:</label>
                <input type="numer" class="form-control" id="playlistId" name ="playlistId">
            </div>
            <div class="mb-3">
              <label for="id" class="lead text-muted">Id:</label>
              <input type="number" class="form-control" id="id" name ="id">
          </div>
              <div class="mb-3">
                  <label for="name" class="lead text-muted">Nombre:</label>
                  <input type="text" class="form-control" id="name" name ="name">
              </div>
              <div class="mb-3">
                <label for="año" class="lead text-muted">Año:</label>
                <input type="number" class="form-control" id="año" name="año"> 
              </div>
                <div class="mb-3">
                  <label for="artist" class="lead text-muted">Artista:</label>
                  <input type="text" class="form-control" id="artist" name ="artist">
                  </div>
              <div class="mb-3">
                <label for="genero" class="lead text-muted">Género:</label>
                <input type="text" class="form-control" id="genero" name ="genero">
              </div>
              <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
            </form>
          </div>
      </div>
  </div>

{% endblock content %}