{% extends "base.html" %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tus empresas</h1>
        <p class="lead text-muted">MyMusicYourMusic</p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for empresa in empresas%}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow" style="width: 23rem;">
            <img class="card-img-top" style="width: 23rem; height: 23rem; " src="https://mail.google.com/mail/u/0?ui=2&ik=90bb74d0f0&attid=0.1&permmsgid=msg-a:r-2249545766177607713&th=185711c92fe1c0c6&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9XX4n1bF20aIBe3wTV-bRBx9dTA_cQV9om0IiUq2Sicx_E35n71CCa9VeWTQ0okLjbEFcgTUpxf4YLN72vud44seSdcM6m05fnEafYWkP5GlFhb2QQH6mtWZQ&disp=emb&realattid=ii_lceenjps0" alt="Playlist">
            <div class="card-body">
                <h4 class="card-title">Empresa {{empresa.id}}</h4>
                <h5 class="card-subtitle mb-2 text-muted">Nombre: {{empresa.nombre}}</h5>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="{% url 'front-login' %}">Log out</a>
        </p>
        <p>Ejemplo de Tienda de Productos &copy; Bootstrap.</p>
        <p>¿Nuevos en Bootstrap? <a href="../../">Visiten la pagina oficial </a> o consulten <a
                href="../../getting-started/"> la guía de inicio</a>.</p>
    </div>
</footer>